.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  position: relative;
  align-items: center;
  background-color: #f2f2f2;
}

.logo_place_header {
  width: 228px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  display: flex;
  position: relative;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  z-index: 2;
}

.header__subtitle {
  width: 388px;
  margin: 0 auto;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  z-index: 2;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  top: 0;
  right: 0;
  bottom: 0;
  background: #2f80ed;
  position: absolute;
  margin-top: 64px;
  z-index: 0;
}

.description {
  margin: 100px 0;
}

.two-columns {
  width: 80%;
  min-width: 784px;
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  margin: 100px auto;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  color: #2f80ed;
  margin-top: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0px;
}

.two-columns__span-accent {
  font-weight: 700;
}

.digits {
  margin: 100px auto;
}

.section-title {
  width: 60%;
  margin: 100px auto 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  margin: 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: space-between;
  width: 1100px;
  margin: 0 auto;
  padding: 0 0;
  box-sizing: border-box;
  list-style: none;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 0;
}

.feynman {
  position: relative;
  background-color: #f2f2f2;
  min-height: 790px;
  padding-top: 100px;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
}

.feynman__title {
  width: 648px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
}

.feynman__subtitle {
  margin: 70px auto;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
}

.feynman__link {
  color: #2f80ed;
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  justify-content: space-between;
  top: 50%;
  right: 48px;
  text-decoration: none;
  z-index: 1;
}

.kaufman {
  margin: 0 auto;
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
}

.section-title_theme_dark {
  color: white;
  width: 60%;
  margin: 90px auto 0;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: white;
  width: 60%;
  margin: 20px auto 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  z-index: 1;
}

.table_theme_dark {
  z-index: 1;
  margin-bottom: 90px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.table__heading_theme_dark {
  z-index: 1;
}

.table__text_theme_dark {
  z-index: 1;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  z-index: 0;
  width: 877px;
  height: 877px;
  color: #2f80ed;
  right: -210px;
  position: absolute;
  top: 0;
  background-size: cover;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  position: relative;
  color: white;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 60px auto 40px;
  flex-direction: row;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  margin-top: 18px;
  margin-bottom: 18px;
  left: 0;
  bottom: 0;
}

.footer__column-heading {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}

.footer__column-links {
  list-style: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 16px;
  padding: 0 0;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
}

.footer__column-link {
  color: white;
  text-decoration: none;
}
